body {
    background-color: #3a5a40;
    font-family: "OsWald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

    
header{
    display: grid;
    grid-template-columns: 35% 65%;
    
}

.logo{
   width: 65%;
   border-radius: 48%;
   height: 70%;
}

.apre{
    display: grid;
    grid-template-columns: 50% 50%;
}

.energia{
    display: grid;
    grid-template-columns: 50% 50%;
}

.água{
    display: grid;
    grid-template-columns: 50% 50%;
}

.sol{
    display: grid;
    grid-template-columns: 50% 50%;
}

.reciclar{
    display: grid;
    grid-template-columns: 50% 50%;
}

.reciclagem{
    display: grid;
    grid-template-columns: 50% 50%;
}
.tec{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.menu{
     display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
} 

.centro{
    text-align: center;
}

.dourado{
    color: #d6b865;
}