body {
    background-color: rgb(210, 249, 143);
    font-family: "OsWald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

    
header{
    display: grid;
    grid-template-columns: 35% 65%;
    
}

.logo{
    width: 65%;
}

.menu{
     display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
} 
