.importante{
    color: rgba(39, 99, 0, 0.498);
}

.imagens{
    width: 60%
}

body{
    background-color: rgba(223, 24, 80, 0.606);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: rgba(100, 95, 96, 0.606);
    color: rgb(95, 89, 89);
    border-radius: 20px;
}