.importante{
    color: rgba(39, 99, 0, 0.498);
}

.imagens{
    width: 60%
}

body{
    background-color: rgba(223, 24, 80, 0.606);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}