.importante{
    color: rgba(39, 99, 0, 0.498);
}

.imagens{
    width: 60%
}

body{
    background-color: rgb(115, 63, 187);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}